body{
	background: linear-gradient(0deg,rgba(3, 3, 3, .6),rgba(3, 3, 3, .6)),url('../images/staff.jpg');
	background-size:100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}


.form-control
{
    border: none;
    border-bottom: solid;
	border-bottom-color: #e6e6e6;
    border-color: #ff99ff;
    height: 50%;
    margin: 20px;
    background:transparent;
    color:#fff;
}

#StaffInfo{
}


.col-sm-6{
	padding-top: 100px;
	margin-bottom: 300px;
}

.describe{
	border-right: solid #33ccff;
	margin-top: 70px;
}


.btn-primary
{
    background-color: #ff66ff;
    border-color: #ff66ff;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px;

}
.back{
    margin-left: 270px;
}

button[type=submit]:hover
{
    background-color: #ff99ff;
    border-color: #ff99ff;
    
}

.finish{
	margin-left: 340px;
    
}

.finish a {
    color: white;
    text-decoration: none;
}


button[type=button]:hover
{
    background-color: #ff99ff;
    border-color: #ff99ff;
    
}