#deleteclass{
    position: relative;
    left:50px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 100px;
    border-right: #ff9900 inset;
    border-width: 1px;
    
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #212529;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    left: 10;
}
.sidenav a:active {
    color:#212529;
}

.form-check{
    display: block;
    position: relative;
    padding:40px;
    margin-bottom: 12px;
   
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.staffClass{
    display:block;
    padding-top:120px;
    padding-left: 170px;
 width:auto;
    background-size: cover;
     height: 752px;
     background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/School-backgrounds-7.jpg");
}




.main {
    /* Same as the width of the sidenav */
   
    width:auto;
    height: 800px;
   
    /*background-color: rgb(247, 247, 188);*/
}
.staffCourses{
    padding-top:120px;
    padding-left: 170px;
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/dreamstime_m_16441446.jpg");
    height: 700px;
     background-repeat: no-repeat;
  background-position: center;
}

.staffschedulesAdd{
    padding-top:120px;
    padding-left: 180px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/timetable.jpg");
    background-repeat: horizontal;
    height: 752px;
}
.staffschedules{
    padding-top:120px;
    padding-left: 180px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/images (1).jpg");  
    height: 752px;
}
.staffEvents{
    display:block;
    padding-top:120px;
    padding-left: 170px;
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/events-calendar.jpg");
    width:auto;
    background-size: cover;
     height: 752px;
  

}
textarea{
    resize: none;
    vertical-align: middle;
}
label{
    color: #ff9900;
}
.staffStudents{
    display:block;
  background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/canadian-school-1024x682.jpg");
  background-size: cover;
    width:auto;
    height: 800px;
    padding-top:120px;
    padding-left: 160px;
    
    
}
.staffTeachers{
    display:block;
   background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("../images/104587644-Ben_Joh.1910x1000.jpg");
   background-size: cover;
    width:auto;
    height: 800px;
    padding-top:120px;
    padding-left: 160px;
   
}
.staffMessages{
    padding-top:120px;
    padding-left: 160px;
}
.groupbtns{
display: block;
float: left;
}

}

.searchBox{
    margin-left: 100px;
    margin-right: 20px;
    margin-top: -10px;
}
.form-control{
    margin-right: 20px;
    margin-top: -10px;
}
.btn-default{
    color:  #ff9900;
    background-color:#212529;
    border-style: outset;
    border-color:  #ff9900;
    margin-left: 10px;
}
.table-striped{
    color:  #ff9900;
    padding-top: 100px;
    font-size :20px;
    
    width: 700px;
    vertical-align: middle;
}
.form-control{
    width:70%;
}

a{
    color:#ff9900;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}