.teacher {
    background: url(../images/welcome.jpg);
    background-size: cover;
    height: 100%;
    

}

.overlay {
    background-color: rgba(12, 12, 12, 0.6);
    padding: 10%;
    height: 100%;
    
}

.overlay p {
    padding-top: 30px; 
    font-family: 'Courgette' , cursive;
    font-size: 20px;
    border-radius: 10px;
    
}

.overlay a:hover {
    text-decoration: none;
}

.TimeTable {
    background: url(../images/timetable.jpg);
    background-size: cover;
    height: 160px;
    width: 270px;
    color: white;
    margin: auto;
    border-radius: 10px;
    border:3px white solid;
}

.Exercise {
    background: url(../images/Exercise.jpeg);
    background-size: cover;
    height: 160px;
    width: 270px;
    color: white;
    margin: auto;
    border-radius: 10px;
    border:3px white solid;
}

.Grades {
    background: url(../images/Exercise.jpeg);
    background-size: cover;
    height: 160px;
    width: 270px;
    color: white;
    margin: auto;
    border-radius: 10px;
    border:3px white solid;

}